.destinations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #202223;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    min-height: 100vh;
    width: 100%;
}

.destinations .info-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    padding-right: 10%;
}

.destinations .title-box h1 {
    margin-top: 40px;
    margin-bottom: 5%;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    color: rgb(250, 88, 188);
}

.destinations .content-box p {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

.destinations .display-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.destinations .destinations-video .vid {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.destinations .screen .vid {
    margin-right: 10px;
}

.destinations .scroll .vid {
    margin-left: 10px;
}

@media screen and (max-width: 1100px) {
    .destinations {
        flex-direction: column;
    }

    .destinations .title-box h1 {
        font-size: 40px;
    }

    .destinations .content-box p {
        font-size: 19px;
    }

    .destinations .info-box {
        margin-bottom: 100px;
        padding-right: 0%;
    }
}

@media screen and (max-width: 650px) {
    .destinations .display-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .destinations .screen .vid {
        margin-bottom: 40px;
        margin-right: 0px;
        width: 300px;
    }

    .destinations .scroll .vid {
        margin-bottom: 40px;
        margin-left: 0px;
        width: 300px;
    }
}